.slider {
    position: relative;

    .slider-bg {
        position: relative;
        z-index: 9;
    }
}

.main-slider-sec {
    background-color: $black;
    width: 30%;
    position: absolute;
    top: 11px;
    left: 46.5%;
    transform: translateX(-50%);
    z-index: 8;

    @include xs {
        top: 5px;
    }

    &::after {
        width: 100%;
        padding-bottom: 210%;
        content: "";
        display: block;

        @include xs {
            padding-bottom: 212%;
        }
    }

    .main-slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .owl-stage {
            height: 100%;
        }

        .owl-stage-outer {
            height: 100%;
        }

        .owl-item {
            height: 100% !important;
            min-height: 100%;
        }

        .item {
            height: 100%;
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .owl-dots {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        .owl-dot {
            outline: none !important;

            span {
                width: 11px;
                height: 11px;
                background-color: $hover;
                display: block;
                border-radius: 8px;
                margin: 0 3px;
                @include transition(all 0.3s ease-in-out);

                @include xs {
                    margin: 0 4px;
                }

                &:hover {
                    background-color: $blue;
                }
            }

            &.active {
                span {
                    width: 30px;
                    background-color: $blue;
                }
            }
        }
    }
}

.services-cont {
    position: relative;
    margin-top: 90px;

    .services-bg {
        @include xs {
            display: none;
        }
    }

    .sec-head {
        margin-bottom: 0;
    }
}

.services-slider {
    .owl-item {
        &.center {
            .item-info {
                background-color: $black;

                .service-name {
                    color: $text;
                }

                .service-desc {
                    color: $text;
                }

                .read {
                    color: $text;

                    &:hover {
                        color: $hover;
                    }
                }
            }

            .item-img {
                &:after {
                    background: $black;
                }
            }
        }
    }

    .item {
        // width: 360px;
        max-width: 100%;
        margin: auto;

        @include xs {
            margin-top: -70px;
        }


    }

    .item-info {
        background-color: $text;
        padding-top: 150px;
        border: 2px solid #d4d5d9;
        padding: 150px 40px 90px;
        @include transition(all 0.3s ease-in-out);

        .service-name {
            font-size: 18px;
            font-family: bold;
            color: $black;
            text-align: center;
            margin-bottom: 40px;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            @include transition(all 0.3s ease-in-out);

            #{$rtl} & {
                font-family: 'ar-bold';
            }
        }

        .service-desc {
            font-size: 14px;
            color: $black;
            text-align: center;
            text-align: justify;
            max-height: 80px;
            overflow: hidden;
        }

        .read {
            position: absolute;
            right: 40px;
            bottom: 25px;
            font-size: 16px;
            font-family: bold;
            color: $black;
            @include transition(all 0.3s ease-in-out);

            &:hover {
                color: $blue;
            }

            #{$rtl} & {
                left: 40px;
                right: auto;
                font-family: 'ar-bold';
            }
        }
    }

    .item-img {
        transform: translateY(50%);
        margin: auto;
        width: 219px;
        height: 247px;
        background-color: #d4d5d9;
        position: relative;
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        @include transition(all 0.3s ease-in-out);

        &:after {
            content: "";
            position: absolute;
            background: #fff;
            -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            top: 3px;
            left: 3px;
            right: 3px;
            bottom: 3px;
            @include transition(all 0.3s ease-in-out);
            z-index: -1;
        }

        img {
            position: absolute;
            z-index: 9;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
        }
    }

    .owl-nav {
        margin-top: 25px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        #{$rtl} & {
            flex-direction: row;
        }

        button[class^=owl-] {
            outline: none;
            border: none;
            border-radius: 50%;
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $text;
            font-size: 30px;
            @include transition(all 0.3s ease-in-out);
            margin: 0 10px;

            &:hover {
                background-color: $yellow;
            }
        }
    }
}

.news-cont {
    background-color: $black;
    margin-top: 75px;
    padding: 80px 0;
    position: relative;

    @include xs {
        padding: 50px 0;
    }

    .news-bg {
        position: absolute;
        bottom: -2%;
        left: 0;
        width: 20%;

        @include xs {
            display: none;
        }
    }

    .sec-head {
        color: $text;
    }


    .new {
        .new-img {
            width: 390px;
            height: 244px;
            max-width: 100%;
            position: relative;
            overflow: hidden;
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include transition(all 0.5s ease-in-out);
                backface-visibility: hidden;
            }

            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }

        .date {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgba($black, 0.75);
            color: #fff;
            font-family: med;

            #{$rtl} & {
                font-family: ar-med;
            }

            #{$rtl} & {
                right: 10px;
                left: auto;
            }
        }

        .day {
            font-size: 24px;
            line-height: 1.083;
        }

        .mounth {
            font-size: 12px;
            line-height: 1.083;
        }

        .new-name {
            font-family: med;
            color: $text;
            font-size: 20px;
            @include transition(all 0.3s ease-in-out);
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-top: 30px;
            display: block;
            width: max-content;
            @include transition(all 0.3s ease-in-out);

            &:hover {
                color: $blue;
            }

            #{$rtl} & {
                font-family: ar-med;
            }
        }

        .new-desc {
            line-height: 1.75;
            color: $text;
            font-size: 16px;
            text-align: justify;
            margin-top: 11px;
        }
    }


    .owl-dots {
        position: absolute;
        right: 75px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include sm {
            bottom: -50px;
            top: auto;
            transform: translateX(50%);
            right: 50%;
            flex-direction: row;
        }

        .owl-dot {
            outline: none !important;

            span {
                width: 11px;
                height: 11px;
                background-color: $text;
                display: block;
                border-radius: 8px;
                margin: 3px 0;
                @include transition(all 0.3s ease-in-out);

                @include sm {
                    margin: 0 3px;
                }

                &:hover {
                    background-color: $blue;
                }
            }

            &.active {
                span {
                    height: 30px;
                    background-color: $blue;

                    @include sm {
                        height: 11px;
                        width: 30px;
                    }
                }
            }
        }
    }
}



.filters {
    margin-bottom: 35px;



    .owl-nav {
        width: 0;
        height: 0;

        button[class^=owl-] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            outline: none;
            border: none;
            color: rgba($black, 0.75);
            font-size: 16px;
            @include transition(all 0.3s ease-in-out);

            &.owl-next {
                left: -10px;
            }

            &.owl-prev {
                right: -10px;
            }

            &:hover {
                color: $yellow;
            }
        }
    }
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    white-space: nowrap;
    background-color: transparent;
    color: $black;
    font-family: med;
    font-size: 16px;
    border: 2px solid rgba($black, 0.75);
    border-radius: 5px;
    @include transition(all 0.3s ease-in-out);
    margin: auto;

    &:hover,
    &:focus {
        color: $black;
        border: 2px solid $blue;
        background-color: transparent;
    }

    &.active-filter {
        pointer-events: none;
        opacity: 0.5;
        border: 2px solid $yellow;
    }
}