body {
    position: relative;
    font-family: reg;
    background-color: $grey;
    overflow: hidden;

    &::-webkit-scrollbar {
        background-color: rgba($grey, 0.5);
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $yellow;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: $yellow rgba($grey, 0.5);
}

.overflow {
    overflow: hidden !important;
}