.home-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 115px;

    @include xs {
        flex-direction: column;
    }
}

.home-about-text {
    width: 40%;

    @include xs {
        width: 100%;
    }
}

.home-about-info {
    color: $black;
    font-family: med;
    font-size: 16px;
    line-height: 1.7;
    text-align: justify;
}

.home-about-img {
    width: 50%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include xs {
        width: 100%;
        margin: 0;
        margin-top: 25px;
    }
}

.page-about-cont {
    padding-top: 85px;

    @include xs {
        padding-top: 35px;
        padding-bottom: 50px;
    }

    .home-about {
        margin: 0;
        align-items: flex-start;
    }

    .home-about-text {
        width: 50%;
        margin-top: 50px;
        margin-right: 30px;

        @include xs {
            width: 100%;
            margin: 0;
        }
    }

    .home-about-info {
        margin-bottom: 15px;
    }
}


.clients-cont {
    margin-top: 50px;

    .owl-nav {
        margin-top: 25px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        button[class^=owl-] {
            outline: none;
            border: none;
            border-radius: 50%;
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $text;
            font-size: 30px;
            @include transition(all 0.3s ease-in-out);
            margin: 0 10px;

            &:hover {
                background-color: $yellow;
            }
        }
    }

    .item {
        .client-img {
            border: 1px solid #d4d5d9;
            width: 137px;
            height: 138px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            padding: 10px;
            margin: auto;

            img {
                width: auto;
                max-height: 100%;
            }
        }
    }

}