.sec-head {
    font-size: 35px;
    color: $black;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;

    @include xs {
        font-size: 50px;
    }
}

.more {
    width: 370px;
    max-width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    background-color: $yellow;
    color: $black;
    font-family: bold;
    z-index: 3;
    position: relative;

    border-radius: 10px;
    margin: 50px auto;
    border: 1px solid $yellow;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        background-color: transparent;
        color: $text;
    }

    @include sm {
        margin-top: 100px;
    }

    @include xs {
        width: 100%;
    }
}

main {
    background: url("../images/maincurve.png");
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    padding-top: 350px;

    @include lg {
        padding-top: 100px;
    }

    @include xs {
        padding-top: 150px;
        height: auto;
        padding-bottom: 100px;
    }

    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;

        @include lg {
            height: calc(100vh - 200px);
            align-items: center;
        }

        @include sm {
            height: auto;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }
    }

    .main-head {
        font-size: 60px;
        font-family: exbold;
        color: $text;
        white-space: nowrap;
        text-transform: uppercase;

        @include xs {
            font-size: 50px;
        }
    }

    .sec-line {
        display: flex;
        align-items: center;
        margin-top: 25px;

        @include xs {
            margin-top: 10px;
            flex-direction: column;
        }
    }

    .main-desc {
        font-size: 20px;
        color: $text;
    }

    .join {
        display: flex;
        font-size: 20px;
        font-family: med;
        color: $text;
        width: 150px;
        height: 40px;
        background-color: $yellow;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        color: $black;
        border: 1px solid $yellow;
        margin: 0 15px;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            background-color: transparent;
            color: $text;
        }

        @include xs {
            margin-top: 15px;
        }
    }
}



//////////////
.gallery {
    display: flex;
    max-height: 100vh;

    @include xs {
        margin-top: 25px;
        margin-bottom: 25px;
    }


    .items {
        display: flex;
        align-items: flex-start;
        width: 40%;
        flex-direction: column;

        &:first-of-type {
            .item-cont {
                height: 50%;
            }
        }

        a {
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }



    .items-2 {
        display: flex;
        align-items: center;
        width: 20%;
    }

    .item {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;

        a {
            width: 50%;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .seemore-cont {
            display: block;
            width: 50%;
            position: relative;
            height: calc(100% + 36px);

            &:after {
                content: "";
                display: block;
                padding-bottom: 122.74%;
            }

            .see-more {
                color: $black;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -0;
                top: 0;
                width: 100%;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                font-size: 2vw;
                line-height: 1;
                @include transition(all 0.3s ease-in-out);

                img {
                    width: 6.975vw;
                    height: auto;
                    transform: none !important;
                    margin-bottom: 14px;
                }

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    @include sm {
        .item .seemore-cont .see-more span {
            font-size: 21px;
        }
    }

    @include sm {
        .item .seemore-cont .see-more span:first-child {
            font-size: 26px;
        }
    }

    @include xs {
        .item .seemore-cont {
            display: none;
        }
    }

    .item-cont {
        width: 100%;
        height: 100%;

        a {
            display: flex;
            height: 100%;
            position: relative;

            &.see-more {
                height: 100%;

                &:after {
                    display: none;
                }
            }

            img {
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }

                &:after {
                    visibility: visible;
                    opacity: 1;
                }
            }

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba($black, 0.92);
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-family: 'icomoon' !important;
                content: "\e901";
                font-size: 48px;
                visibility: hidden;
                opacity: 0;
                @include transition(all 0.3s ease-in-out);
            }
        }

        .gallery-anchor {
            @include xs {
                width: 320px;
                height: 320px;
                display: flex;
                margin: auto;
                align-items: center;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

    }


    //////////////

    .owl-dots {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        .owl-dot {
            outline: none !important;

            span {
                width: 11px;
                height: 11px;
                background-color: $hover;
                display: block;
                border-radius: 8px;
                margin: 0 3px;
                @include transition(all 0.3s ease-in-out);

                @include xs {
                    margin: 0 4px;
                }

                &:hover {
                    background-color: $blue;
                }
            }

            &.active {
                span {
                    width: 30px;
                    background-color: $blue;
                }
            }
        }
    }

}

.gallery-cont {
    .more {
        display: none;

        @include xs {
            display: flex;
            margin-top: 50px;

            &:hover {
                color: $black;
            }
        }
    }
}